.issuelist{
    width: 100%;
}

.timelabel{
    color: #808080;
    font-size : 0.9em;
    text-align: left;
    vertical-align: bottom;
    width: 15%;
}

.formerror{
    background-color: #F8E4E4;
    border: red 1px solid;
}

.errorbox{
    border: 1px solid red;
    color: red;
    padding: 1px;
}

.green{
    color: green;
    font-weight: bold;
}

.red{
    color: red;
    font-weight: bold;
}

.status-resolved{
    background-color: #2EAA20;
    color: white;
    font-weight: bold;
}

.status-posted{
    background-color: #D90000;
    color: white;
    font-weight: bold;
}

.status-open{
    background-color: #FF8000;
    color: black;
    font-weight: bold;
}

.status-resolving{
    background-color: #FCDD03;
    color: black;
    font-weight: bold;
}

.status-waiting{
    background-color: #BAAB45;
    color: black;
    font-weight: bold;
}

.status-abandonned{
    background-color: #454747;
    color: white;
    font-weight: bold;
}

.status-transfered{
    background-color: #E4E4E4;
    color: black;
    font-weight: normal;
}

.status-testing{
    background-color: #B8F079;
    color: black;
    font-weight: normal;
}

.status-published{
    background-color: #58BCF1;
    color: black;
    font-weight: normal;
}

.comments{
    background-color: #E0E0E0;
    border: 1px solid #ACACAC;
    padding: 2px;
}

.comment{
    border: 1px solid #FFFFFF;
}

.visiblediv{
    display: block;
    visibility: visible; 
}

.hiddendiv{
    display: none;
    visibility: hidden; 
}

.list-priority{
    font-size: 0.9em;
    text-align: center;
    vertical-align: bottom;
}

.list-issuenumber{
    font-size: 0.9em;
    text-align: left;
    vertical-align: bottom;
}

.list-summary{
    font-size: 0.9em;
    padding: 2px;
    text-align: left ;
    vertical-align: bottom;
    width: 40%;
}

.list-reportedby{
    color: #4D4D4D;
    font-size: 0.9em ;
    text-align: left;
    vertical-align: bottom;
    width:10%;
}

.list-assignedto{
    color: #4D4D4D;
    font-size: 0.9em;
    text-align: left;
    vertical-align: bottom;
    width: 10%;
}

.list-watches{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list-status{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list-transfered{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list-testing{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list-action{
    text-align: center;
    min-width:120px;
    vertical-align: bottom;
    width: 5%;
}

.tracker-image-attachment{
    max-width:570px;
}

.flexible .r0{
    background-color:#F0F0F0;
}

.flexible .r1{
    background-color:#F8F8F8;
}

.nullclass{
    color:#D0D0D0;
}

.redtext{
    color:#800000;
}

.tracker-printtable{
    border:1px #808080 solid;
    margin-top:10px;
}

.tracker-printtable.title,
.tracker-printtable.ticketid{
    background-color:#E0E0E0;
    border:1px #808080 solid
}

.tracker-printtable.ticketid{
    font-weight:bolder;
}

.tracker-printtable.summary{
    border:1px #808080 solid
}

.tracker-issue-editor {
    width:100%;
}

.tracker-issue-editor td{
    border:1px solid #D0D0D0;
}

.tracker-issue-param{
    background-color:#D0D0D0;
    border:1px solid #F0F0F0;
    padding:4px 15px 4px 4px;
}

.tracker-issue-summary{
    background-color:#fcfcfc;
    border:1px solid #f0f0f0;
    font-size:1.9em;
    padding:10px;
}

.tracker-issue-value{
    border-bottom:1px solid #f0f0f0;
    padding:4px 4px 4px 15px;
}

.tracker-issue-description{
    background-color:#F0F0F0;
    border:1px solid #D0D0D0;
    padding:5px;
}

.tracker-file-item-notice{
    font-style:italic;
}

#tracker-acknowledge{
    border:1px #c0c0c0 solid;
    font-size:1.2em;
    margin:50px;
    padding:30px;
}

.tracker-issue-value {
    padding: 3px 3px 3px 15px;
}

.tracker-issue-param {
    padding: 3px 15px 3px 3px;
}

.tracker-status-thin {
    min-width:4px;
    height:100%;
}

.tracker-status {
    height: 102%;
    text-align:center;
    width: 105%;
}

.tracker-filepicker {
    border:1px solid #000;
    height:160px;
    width:600px;
}

.tracker-shadow {
    -moz-opacity:0.5;
    opacity:0.5;
}

.tracker-report-assignee {
    font-weight:bolder;
    font-size:1.3em;
}

#tracker-preferences-form div.fitemtitle {
    width:600px;
}

.tracker-captcha {
    margin-left: 285px;
    margin-bottom: 10px;
}