<?php

/**
 * @package mod-tracker
 * @category mod
 * @author Clifford Tham, Valery Fremaux > 1.8
 * @date 02/12/2007
 *
 * Summary for administrators
 */

if (!defined('MOODLE_INTERNAL')) {
    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/tracker
}

echo $OUTPUT->box_start('center', '100%', '', '', 'generalbox', 'bugreport'); 

$summarytable = new html_table();
$summarytable->head = array('', '');
$summarytable->width = '90%';
$summarytable->size = array('30%', '70%');
$summarytable->align = array('right', 'left');

$row = array(get_string('trackername', 'tracker'), format_string($tracker->name));
$summarytable->data[] = $row;

$row = array(get_string('description'), format_string($tracker->intro));
$summarytable->data[] = $row;

$str = get_string('sum_reported', 'tracker').': '.tracker_getnumissuesreported($tracker->id).'<br />';
$str .= get_string('sum_posted', 'tracker').': '.tracker_getnumissuesreported($tracker->id, POSTED).'<br />';
$str .= get_string('sum_opened', 'tracker').': '.tracker_getnumissuesreported($tracker->id, OPEN).'<br />';
$str .= get_string('sum_resolved', 'tracker').': '.tracker_getnumissuesreported($tracker->id, RESOLVED);

$row = array(get_string('numberofissues', 'tracker'), $str);
$summarytable->data[] = $row;

tracker_loadelements($tracker, $elements);
$str = '';
if (!empty($elements)) {
    $keys = array_keys($elements);
    for ($i = 0; $i < sizeof($keys); $i++) {
        $element = $elements[$keys[$i]];
        $url = new moodle_url('/mod/tracker/view.php', array('id' => $cm->id, 'what' => 'editelement', 'elementid' => $element->id));
        $str .= '<a href="'.$url.'">';
        $str .= format_string($element->description);
        $str .= '</a>';
        if ($i < sizeof ($keys)-1) {
            $str .= ', ';
        }
    }
} else {
    $str .= get_string('noelementscreated', 'tracker');
    $str .= '<br/>';
}

$row = array(get_string('elements', 'tracker'), $str);
$summarytable->data[] = $row;

$admins = tracker_getadministrators($context);
$str = '';
if (!empty($admins)) {
    $keys = array_keys($admins);
    for ($j = 0; $j < sizeof($keys) ; $j++) {
        $admin = $admins[$keys[$j]];
        $str .= fullname($admin);
        if ($j < sizeof ($keys)-1) {
            $str .= ', ';
        }
    }
} else {
    $str .= get_string('notrackeradmins', 'tracker');
    $str .= '<br/>';
}

$row = array(get_string('administrators', 'tracker'), $str);
$summarytable->data[] = $row;

$resolvers = tracker_getresolvers($context);
$str = '';
if (!empty($resolvers)) {
    $keys = array_keys($resolvers);
    for ($j = 0; $j < sizeof($keys); $j++) {
        $resolver = $resolvers[$keys[$j]];
        $str .= fullname($resolver);
        if ($j < sizeof ($keys)-1) {
            $str .= ', ';
        }
    }
} else {
    $str .= get_string('noresolvers', 'tracker');
    $str .= '<br/>';
}

$row = array(get_string('resolvers', 'tracker'), $str);
$summarytable->data[] = $row;

$developers = tracker_getdevelopers($context);
$str = '';
if (!empty($developers)) {
    $keys = array_keys($developers);
    for ($j = 0; $j < sizeof($keys); $j++) {
        $developer = $developers[$keys[$j]];
        $str .= fullname($developer);
        if ($j < sizeof ($keys)-1) {
            $str .= ', ';
        }
    }
} else {
    $str .= get_string('nodevelopers', 'tracker');
    $str .= '<br/>';
}

$row = array(get_string('potentialresolvers', 'tracker'), $str);
$summarytable->data[] = $row;

echo html_writer::table($summarytable);

echo $OUTPUT->box_end();
