<?php

/**
* @package mod-tracker
* @category mod
* @author Clifford Tham, Valery Fremaux > 1.8
* @date 02/12/2007
*
* A form for updating an issue
*/

if (!defined('MOODLE_INTERNAL')) {
    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/tracker
}

$OUTPUT->box_start('center', '80%', '', '', 'generalbox', 'bugreport');
$issue = $DB->get_record('tracker_issue', array('id' => $issueid));
$issue->reporter = $DB->get_record('user', array('id' => $issue->reportedby));
tracker_loadelementsused($tracker, $elementsused);

$editoroptions = array('trusttext' => true, 'subdirs' => true, 'maxfiles' => 99, 'maxbytes' => $COURSE->maxbytes, 'context' => $context);
$issue = file_prepare_standard_editor($issue, 'description', $editoroptions, $context, 'mod_tracker', 'issuedescription', $issue->id);
$issue = file_prepare_standard_editor($issue, 'resolution', $editoroptions, $context, 'mod_tracker', 'issueresolution', $issue->id);

?>
<center>

<!-- Print Bug Form -->

<table border="1" cellpadding="5" class="tracker-issue-editor">
<?php
if (tracker_can_edit($tracker, $context, $issue)){
    /// Opens the issue if I have capability to resolve
    if ($issue->status < OPEN){
        $issue->status = OPEN;
        $DB->set_field('tracker_issue', 'status', OPEN, array('id' => $issueid));
    }
?>
    <tr>
        <td colspan="4" align="right">
            <form method="POST" action="view.php?id=<?php p($cm->id) ?>&amp;view=view&amp;screen=viewanissue&amp;issueid=<?php echo $issue->id ?>">
                <input type="submit" name="go_btn" value="<?php print_string('turneditingoff', 'tracker') ?>" />
            </form>
        </td>
    </tr>
<?php
}
?>  
    <form action="view.php" name="editissue" method="post">
    <input type="hidden" name="id" value="<?php p($cm->id) ?>" />
    <input type="hidden" name="issueid" value="<?php p($issueid) ?>" />
    <input type="hidden" name="view" value="view" />
    <input type="hidden" name="screen" value="viewanissue" />
    <input type="hidden" name="what" value="updateanissue" />
    <tr>
        <td align="right" width="200" class="tracker-issue-param"><b><?php print_string('issuenumber', 'tracker') ?>:</b></td>
        <td width="200">
            <?php echo $tracker->ticketprefix.$issueid; ?>
        </td>
        <td align="right" width="150" class="tracker-issue-param"><b><?php print_string('dependson', 'tracker') ?>:</b></td>
        <td width="250">
            <?php 
            $dependancies = tracker_getpotentialdependancies($tracker->id, $issueid);
            ?>
            <select name="dependancies[]" multiple="multiple" size="5">
            <?php 
            foreach($dependancies as $dependancy){
                $selected = ($dependancy->isparent) ? "selected=\"selected\"" : '' ;
                echo "<option value=\"$dependancy->id\" {$selected} >{$tracker->ticketprefix}{$dependancy->id} - ".shorten_text(format_string($dependancy->summary))."</option>\n";
            } 
            ?>
            </select>
        </td>
    </tr>
    <tr>
        <td align="right" width="200" class="tracker-issue-param"><b><?php print_string('reportedby', 'tracker') ?>:</b><br /></td>
        <td width="200">
            <?php echo fullname($issue->reporter);  ?>
        </td>
        <td align="right" width="150" class="tracker-issue-param">
            <b><?php print_string('datereported', 'tracker') ?>:</b>
        </td>
        <td width="250">
            <?php echo userdate($issue->datereported); ?>
            <input type="hidden" name="datereported" value="<?php p($issue->datereported) ?>"/>
        </td>
    </tr>
    <tr>
        <td align="right" width="200" class="tracker-issue-param"><b><?php print_string('assignedto', 'tracker') ?>:</b><br /></td>
        <td width="200">
            <?php 
            $resolvers = tracker_getresolvers($context);
            if ($resolvers){
	            foreach($resolvers as $resolver){
	                $resolversmenu[$resolver->id] = fullname($resolver);
	            }
	            echo html_writer::select($resolversmenu, 'assignedto', @$issue->assignedto);
	        } else {
	        	print_string('noresolvers', 'tracker');
	        	echo '<input type="hidden" name="assignedto" value="0" />';
	        }
            ?>
        </td>
        <td align="right" width="150" class="tracker-issue-param"><b><?php print_string('status', 'tracker') ?>:</b></td>
        <td width="250" class="<?php echo 'status_'.$STATUSCODES[$issue->status] ?>">
            <?php echo html_writer::select(tracker_get_statuskeys($tracker), 'status', $issue->status); ?>
        </td>
    </tr>
    <tr>
        <td align="right" width="150" class="tracker-issue-param"><b><?php print_string('summary', 'tracker') ?>:</b></td>
        <td colspan="3">
            <input type="text" name="summary" size="70" value="<?php echo $issue->summary ?>" />
        </td>
    </tr>
    <tr valign="top">
        <td align="right" height="200" class="tracker-issue-param"><b><?php print_string('description') ?>:</b></td>
        <td align="left" colspan="3" width="600">
<?php
            // print_textarea($usehtmleditor, 20, 60, 680, 400, 'description_editor', $issue->description, 0, false, 'id_description');

			$attributes = array('id' => 'id_description', 'name' => 'description_editor');
			$values = array('text' => $issue->description_editor['text'], 'format' => $issue->description_editor['format'], 'itemid' => $issue->description_editor['itemid']);
			$options = array('maxfiles' => 99, 'maxbytes' => $COURSE->maxbytes, 'context' => $context);
			echo tracker_print_direct_editor($attributes, $values, $options);
?>
        </td>
    </tr>
<!--Print Bug Attributes-->
<?php       
if (is_array($elementsused)){   
    $keys = array_keys($elementsused);
    if(!empty($keys)){      
        for ($i=0; $i < count($keys); $i++){
            // Print first category in one column
            $key = $keys[$i];
            echo "<tr valign=\"top\">";
            echo "<td align=\"right\">";
            echo "<b>";
                echo format_string($elementsused[$key]->description);
            echo ":</b><br />";
            echo "</td>";   
            echo "<td colspan=\"3\" align=\"left\">";           
                echo $elementsused[$key]->edit($issue->id);
            echo "</td>";
            echo "</tr>";
        }
    }
}
?>
    <tr valign="top">
        <td align="right" height="200" class="tracker-issue-param"><b><?php print_string('resolution', 'tracker') ?>:</b></td>
        <td align="left" colspan="3">
<?php
			$attributes = array('id' => 'id_resolution', 'name' => 'resolution_editor');
			$values = array('text' => $issue->resolution_editor['text'], 'format' => $issue->resolution_editor['format'], 'itemid' => $issue->resolution_editor['itemid']);
			$options = array('maxfiles' => 99, 'maxbytes' => $COURSE->maxbytes, 'context' => $context);
			echo tracker_print_direct_editor($attributes, $values, $options);
?>
        </td>
    </tr>
    <tr valign="top">
        <td align="center" colspan="4">
            <input type="submit" value="<?php print_string('savechanges') ?>" />
        </td>
    </tr>
    </form>
</table>

<?php
$OUTPUT->box_end();
?>
</center>
