<?php

/**
* @package mod-tracker
* @category mod
* @author Clifford Tham, Valery Fremaux > 1.8
* @date 02/12/2007
*
* Prints a form for user preferences
*/
if (!defined('MOODLE_INTERNAL')) {
    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/tracker
}

echo "<br/>";
echo $OUTPUT->heading(get_string('mypreferences', 'tracker'));
echo $OUTPUT->box_start('center', '90%', '', '', 'generalbox', 'bugreport');

tracker_loadpreferences($tracker->id, $USER->id);

echo '<p>';
print_string('prefsnote', 'tracker');
echo '</p>';

echo '<form name="preferencesform" method="post" action="view.php">';
echo '<input type="hidden" name="id" value="'.$cm->id.'" />';
echo '<input type="hidden" name="what" value="saveprefs" />';
echo '<input type="hidden" name="view" value="profile" />';

$table = new html_table();
$table->head = array('', '');
$table->width = '80%';
$table->size = array('60%', '40%');
$table->align = array('left', 'left');

if ($tracker->enabledstates & ENABLED_OPEN) {
    $data = array();
    $data[] = get_string('unsetwhenopens', 'tracker');
    $data[] = html_writer::select_yes_no('open', @$USER->trackerprefs->eventmask & EVENT_OPEN);
    $table->data[] = $data;
}
if ($tracker->enabledstates & ENABLED_RESOLVING) {
    $data = array();
    $data[] = get_string('unsetwhenworks', 'tracker');
    $data[] = html_writer::select_yes_no('resolving', @$USER->trackerprefs->eventmask & EVENT_RESOLVING);
    $table->data[] = $data;
}
if ($tracker->enabledstates & ENABLED_WAITING) {
    $data = array();
    $data[] = get_string('unsetwhenwaits', 'tracker');
    $data[] = html_writer::select_yes_no('waiting', @$USER->trackerprefs->eventmask & EVENT_WAITING);
    $table->data[] = $data;
}
if ($tracker->enabledstates & ENABLED_TESTING) {
    $data = array();
    $data[] = get_string('unsetwhentesting', 'tracker');
    $data[] = html_writer::select_yes_no('testing', @$USER->trackerprefs->eventmask & EVENT_TESTING);
    $table->data[] = $data;
} 
if ($tracker->enabledstates & ENABLED_PUBLISHED) {
    $data = array();
    $data[] = get_string('unsetwhenpublished', 'tracker');
    $data[] = html_writer::select_yes_no('published', @$USER->trackerprefs->eventmask & EVENT_PUBLISHED);
    $table->data[] = $data;
} 
if ($tracker->enabledstates & ENABLED_RESOLVED) {
    $data = array();
    $data[] = get_string('unsetwhenresolves', 'tracker');
    $data[] = html_writer::select_yes_no('resolved', @$USER->trackerprefs->eventmask & EVENT_RESOLVED);
    $table->data[] = $data;
}
if ($tracker->enabledstates & ENABLED_ABANDONNED) {
    $data = array();
    $data[] = get_string('unsetwhenthrown', 'tracker');
    $data[] = html_writer::select_yes_no('abandonned', @$USER->trackerprefs->eventmask & EVENT_ABANDONNED);
    $table->data[] = $data;
}
$data = array();
$data[] = get_string('unsetoncomment', 'tracker');
$data[] = html_writer::select_yes_no('oncomment', @$USER->trackerprefs->eventmask & ON_COMMENT);
$table->data[] = $data;

echo html_writer::table($table);

echo '<div>';
echo '<input type="submit" name="go_btn" value="'.get_string('savechanges').'" />';

echo '</div>';
echo '</form>';

echo $OUTPUT->box_end();