


<!-- mod_tracker/adminelementform -->
<form name="addelement" method="post" action="{{{formurl}}}">
    <input type="hidden" name="view" value="admin" />
    <input type="hidden" name="id" value="{{cmid}}" />
    <input type="hidden" name="what" value="createelement" />
    <table width="100%">
        <tr>
            <td valign="top">
                <b>{{#str}}createnewelement, tracker{{/str}}:</b>
            </td>

            <td valign="top">
                {{{typeselect}}}
            </td>
        </tr>
    </table>
</form>
<!-- /mod_tracker/adminelementform -->
