


<!-- dependencies -->
<tr>
    <td colspan="4" align="center" width="100%">
        <table id="issuedependancytrees" class="{{initialviewmode}}">
            <tr>
                <td align="left" style="white-space : nowrap">
                    {{#parents}}
                    {{/parents}}

                    {{{this}}}

                    {{#childs}}
                    <span style="position : relative; left : '.$indent.'px">
                    {{link}}&nbsp;<span class="status_{{status}}">{{key}}</span>
                    </span><br/>
                    {{/childs}}
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- /dependencies -->