


<!-- mod_tracker/distribution_form -->
<form name="distribute" style="display:inline">
    <input type="hidden" name="view" value="view" >
    <input type="hidden" name="what" value="distribute" >
    <input type="hidden" name="issueid" value="{{id}}" >
    <input type="hidden" name="id" value="{{cmid}}" >
    <select name="target">
        <option value="0">{{#str}}choosetarget, tracker{{/str}}</option>
        {{#subtrackers}}
        <option value="{{id}}">{{courseshort}} - {{name}}</option>
        {{/subtrackers}}

    </select>
</form>

<a href="Javascript:document.forms['distribute'].submit();">{{#str}}distribute, tracker{{/str}}</a>

<!-- /mod_tracker/distribution_form -->