


<!-- mod_tracker/editoptionsform -->
<form name="editoptionform" method="post" action="{{{formurl}}}">
<input type="hidden" name="id" value="{{{id}}}" />
<input type="hidden" name="what" value="{{action}}elementoption" />
<input type="hidden" name="view" value="admin" />
<input type="hidden" name="type" value="{{type}}" />
<input type="hidden" name="elementid" value="{{elementid}}" />
<input type="hidden" name="optionid" value="{{optionid}}" />

<table width="90%">

    <tr>
        <td width="100">&nbsp;</td>
        <td width="110" align="center">
            <b>{{#str}}opcode, tracker{{/str}}</b>
        </td>
        <td width="240" align="center">
            <b>{{#str}}visiblename, tracker{{/str}}</b>
        </td>
        <td width="75" align="center"><b>{{#str}}action{{/str}}</b></td>
    </tr>

    <tr>
        <td>&nbsp;</td>

        <td align="center" {{{errorclassname}}} >
            <input type="text" name="name" value="{{name}}" size="20" maxlength="32" />
        </td>

        <td align="center" {{{errorclassdescription}}} >
            <input type="text" name="description" value="{{filtereddesc}}" size="60" maxlength="255" />
        </td>

        <td align="center">
            <input type="submit" name="add_btn" value="{{actionstr}}" />
        </td>
    </tr>
</table>

<br/>
<input type="button" name="cancel_btn" value="{{#str}}continue{{/str}}" onclick="{{{jshandler}}}" />

<br/>
</form>
<br/>
<!-- /mod/tracker/editoptionsform -->
