


<!-- history -->
<tr>
    <td colspan="4" width="100%">
        <div id="tracker-issuehistory" class="{{initialviewmode}}">
            <h2>{{historystr}}</h2>
            <div class="row-fluid">
                <div class="span6 col-6">
                    <h3>{{assigneesstr}}</h3>

                    <table width="100%">
                        {{#history}}
                        <tr>
                            <td align="left">
                                {{date}}
                            </td>
                            <td align="left">
                                {{{user}}}
                            </td>
                            <td align="left">
                            {{bystr}} {{username}}
                            </td>
                        </tr>
                         {{/history}}
                    </table>
                </div>

                <div class="span6 col-6">
                    <h3>{{statehistorystr}}</h3>

                    <table width="100%" class="tracker-history">
                        {{#statehistory}}
                        <tr valign="top">
                            <td align="left">
                                {{statedate}}
                            </td>

                            <td align="left">
                            {{{changer}}}
                            </td>

                            <td align="left">
                                <div class="history-state status-{{codefrom}}"> {{keyfrom}} </div>
                            </td>

                            <td align="left">
                            &ensp;
                            </td>

                            <td align="left">
                                <div class="history-state status-{{codeto}}"> {{keyto}} </div>
                            </td>
                        </tr>
                        {{/statehistory}}
                    </table>
                </div>
            </div>
        </div>
    </td>
</tr>
<!-- /history -->