


<!-- mod_tracker/issueattributes -->
{{#attributes}}
    <tr valign="top">
        <td colspan="1" class="tracker-issue-description">
            <b>{{{name}}}:</b><br />
            {{#isprivate}}
            <div class="tracker-attribute-modifier">{{#pix}}t/locked{{/pix}}</div>
            {{/isprivate}}
        </td>

        <td colspan="3" class="tracker-issue-value">
            {{{value}}}
        </td>
    </tr>
{{/attributes}}
<!-- /mod_tracker/issueattributes -->
