


<!-- mod_tracker/lastcomment -->
<div class="tracker-issue-lastcomment">
    <b>{{#str}}lastcomment, tracker{{/str}}:</b>
    <br/>
    {{{comment}}}
    <br/>
    <b>{{#str}}writtenby, tracker{{/str}}: </b>{{{by}}}
</div>
<!-- /mod_tracker/lastcomment -->
