


<!-- mod_tracker/listformassignedtopart -->
<div class="tracker-assignedto">

    {{#assignedto.unassigned}}
        <span class="tracker-assignedto-user" id="tracker-assignedto-{{id}}">{{#str}}unassigned, tracker{{/str}}</span>
    {{/assignedto.unassigned}}

    {{#assignedto.assignedto}}
    <span class="tracker-assignedto-user" id="tracker-assignedto-{{id}}">{{{assignedto.assignedto}}}</span>
    {{/assignedto.assignedto}}

    {{#assignedto.editlink}}
    <span class="fa fa-edit icon tracker-issue-edit-handle" data-toggle="modal" data-target="#issuelist-edit-form" data-mode="assignedto" data-context="{{contextid}}" id="issue-edit-assignedto-handle-{{id}}"></span>
    {{/assignedto.editlink}}

</div>
<!-- /mod_tracker/listformassignedtopart -->
