

<!-- generic_pro/puchaseoptions -->
<div class="purchaseoption" style="display:inline-block">
    <div class="purchaseoption-header">
    <h4>[{{code}}] - {{name}}</h4>
    </div>
    <div class="purchaseoption-content" style="display: flex;justify-content:space-between">
        <div class="purchaseoption-description">{{{description}}}</div>
        <div class="purchaseoption-pricing">{{unitprice}} {{unit}}</div>
    </div>
</div>
<!-- /generic_pro/purchaseoptions -->