


<!-- mod_tracker/resolution -->
<tr valign="top">
    <td align="right" height="25%" class="tracker-issue-param">
        <b>{{#str}}resolution, tracker{{/str}}:</b>
    </td>

    <td align="left" colspan="3" width="75%">
        {{{resolution}}}
    </td>
</tr>
<!-- /mod_tracker/resolution -->
