

<!-- mod_tracker/searchqueries -->
<div id="tracker-searchqueries">
<table border="1" width="100%">
    <tr>
        <td colspan="2">
            {{#str}}searchresults, tracker{{/str}}: {{numrecords}} <br/>
        </td>
        <td colspan="2" align="right">
            <a href="{{{clearurl}}}">{{#str}}clearsearch, tracker{{/Str}}</a>
        </td>
    </tr>
</table>
</div>
<!-- /mod_tracker/searchqueries -->
